body {
    font-family: Anton, sans-serif;
}


hr {
    margin: 10px 0;
}

.centered {
    padding: 0 5px;
    margin: 0 5px;
}

.main-header{
    color: white;
}

.main-header > .row > .col-lg-4  {
    background-color: red;
    height: 120px;
}

.main-header > .row > .col-lg-4 > .date {
    font-size: 16px;
    padding-left: 0;
    padding-top: 90px;  
    float: left;
}
.main-header > .row > .col-lg-4 > h1 {
    text-align: center;
    padding-top: 38px;
    font-size: 48px;
    font-family: Anton, sans-serif;

}

.main-header > .row > .col-lg-4 > .main-header-links {
    font-size: 16px;
    padding-left: 0;
    padding-top: 60px;  
    float: right;
}

.main-header > .row:nth-child(2) {
    height:15px;
}

.main-header > .row:nth-child(3) {
    color: black;
}

.main-header > .row:nth-child(3) > .col-lg-1, .col-lg-2 { 
    border-right: 1px solid rgb(187, 187, 187);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}


.main-header > .row:nth-child(3) > .col-lg-2:last-child {
    border-right: none;
}

.main-header > .row:last-child {
    height: 15px;
    border-bottom: 1px solid rgb(187, 187, 187);
}


/* MAIN CONTENT */

.main-content {
    padding-top: 20px;
}

.section-name {
    color: rgb(153, 152, 152);
    font-weight: bold;
}


/* MAIN CONTENT */


/* NEWS  */

.news {
    width: 100%;
}

    .news > .title > a, .news-mini > .title > a{
        text-decoration: none;
        font-size: 18px;
        color: black;
        font-weight: bold;
    }
    .news > .title > a:hover , .news-mini > .title > a:hover{
        border-bottom: 2px solid orangered;
    }


.news > .footnote {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.news > .footnote:hover {
    color: orangered;
}


.news-img {
    position: relative;
}

.news-img {
    padding-bottom: 10px;
}

.news-img > img {
    width: 100%;
}

.news-img > .category-tag {
    position: absolute;
    background-color: white;
    color: orangered;
    padding: 0 5px;
    font-weight: bold;
    text-align: center;
    bottom: 10px;
}

/* NEWS */


/* NEWS MINI */

.news-mini {
    padding: 10px 0;
    margin-bottom: 10px;
    border-top: solid 1px rgb(187, 186, 186);
    width: 100%;
}

.news-mini > img {
    float: left;
    width: 25%;
    padding-right: 10px;
    padding-bottom: 2px;
}

.news-mini > .author-img {
    width: 25%;
}

.news-mini > .latest-news-img {
    width: 45%;
}

.opinion-title {
    font-size: 14px;
}

.opinion-title > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.opinion-title > a:hover {
    border-bottom: 2px solid orangered;
}

.opinion-footer {
    color: gray;
    font-size: 12px;
    font-weight: bold;
}

.opinion-footer > a {
    color: gray;
}
.opinion-footer > a:hover {
    color: orangered;
    text-decoration: none;
}


.news-mini > .info {
    font-weight: bold;
    font-size: 12px;
}

.news-mini > .info > a{
    color: gray;
    text-decoration: none;
}
.news-mini > .info > a:hover {
    color: orangered;
}

.news-mini > .latest-img {
    width: 50%;
}


.signup-ads {
    width: 100%;
    margin-top: 30px;
    background-color: rgb(230, 227, 227);
    padding: 30px 20px;
    font-weight: bolder;
}

.signup-ads > * {
    margin: 0 auto;
}

.signup-ads i {
    float: left;
    padding: 5px 5px;
    margin-top: 3px;
    margin-right: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 24px;
    background: red;
}

.signup-ads > .row > button {
    position: relative;
    padding: 5px 20px 5px 10px;
    color: white;
    font-size: 18px;
    background-color: gray;
    border: none;
    margin: 10px 0;
}
.signup-ads > .row > button::after {
    position: absolute;
    display: block;
    content: "";
    right: 5px;
    width: 12px;
    height: 12px;
    top: 35%;
    border: none;
    border-bottom: 3px solid white;
    border-right: solid 3px white;
    transform: rotate(-45deg);
}
.signup-ads > .row > button:hover {
    background-color: rgb(175, 172, 172);
}

.signup-ads > .row > a {
    text-decoration: none;
    color: black;
}
/* NEWS MINI */

/* IN THE MAGAZINE */
.in-the-magazine {
    padding-top: 50px;
}

.in-the-magazine > .col-lg-3 > img {
    width: 100%;
}

.in-the-magazine > .col-lg-3 > .main-link {
    width: 100%;
    text-align: center;
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.in-the-magazine > .col-lg-3 > .cover-date {
    position: absolute;
    color: red;
    background-color: rgb(206, 204, 204);
    bottom:6.7%;
    font-weight: bold;
    padding: 7px;
    font-size: 16px;
}

.in-the-magazine > .col-lg-3 > .main-link > a {
    font-weight: bold;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.in-the-magazine > .col-lg-3 > .main-link:hover{
    background-color: rgb(185, 185, 185);
}

.subheading-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid gray;
    padding: 20px 0;
}

.subheading-title > i {
    color: red;
}

.in-the-magazine > .mini-header-news > .col-lg-4 {
    font-weight: bold;
    color: red;
}

.in-the-magazine > .mini-header-news > .col-lg-4 > .highlights  {
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 10px;
}

.in-the-magazine > .mini-header-news > .col-lg-4 > span  {
    font-weight: bold;
    color: black;
    line-height: 20px;
}

.in-the-magazine > .mini-header-news > .col-lg-4 > img {
    width: 100%;
    height: auto;
    padding: 20px 0;
}



.in-the-magazine > .mini-header-news > .col-lg-3 {
    font-weight: bold;
    color: red;
}

.in-the-magazine >  .mini-header-news > .col-lg-3 > .highlights  {
    font-weight: bold;
    color: white;
    background-color: red;
    padding: 10px;
}

.in-the-magazine > .mini-header-news > .col-lg-3 > span  {
    font-weight: bold;
    color: black;
    line-height: 20px;
}

.in-the-magazine >  .mini-header-news > .col-lg-3 > img {
    width: 100%;
    height: auto;
    padding: 20px 0;
}



/* IN THE MAGAZINE */

/* EDITOR'S PICK */
.editor-pick > .col-lg-12 {
    padding-top: 30px;
}
.editor-pick > .col-lg-12 > .col-lg-3 > .img-heading, 
.featured-slideshows > .row > .col-lg-4 > .img-heading  {
    position: relative;
    height: auto;
}
.editor-pick > .col-lg-12 > .col-lg-3 > .img-heading > img,
 .featured-slideshows > .row > .col-lg-4 > .img-heading > img {
    width: 100%;
}

.editor-pick > .col-lg-12 > .col-lg-3 > a, 
.featured-slideshows > .row > .col-lg-4 > a,
.featured-by-categories > .row > .col-lg-4 > a {
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.editor-pick > .col-lg-12 > .col-lg-3 > a:hover, 
.featured-slideshows > .row > .col-lg-4 > a:hover,
.featured-by-categories > .row > .col-lg-4 > a:hover,
.featured-by-categories > .row > .col-lg-4 > .row > a:hover {
    border-bottom: 2px solid orangered;
    cursor:pointer
}

.editor-pick > .col-lg-12 > .col-lg-3 > .editor-pick-details {
    padding-top:10px;
    color: black;
    font-weight: regular;
    font-size: 14px;
}
.editor-pick > .col-lg-12 > .col-lg-3 > .img-heading > .img-caption {
    position: absolute;
    bottom:0;
    color: red;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    background-color: rgb(194, 193, 193);
}
/* EDITOR'S PICK */


/* FEATURED SLIDES */

.featured-slideshows > .row:first-child {
    padding: 20px 0;
}

.featured-slideshows > .row > .col-lg-4 > .img-heading > .img-caption {
    position: absolute;
    bottom:0;
    color: red;
    font-weight: bold;
    font-size: 24px;
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* FEATURED SLIDES */

/* FEATURED BY CATEGORIES */

.featured-by-categories {
    padding-top: 30px;
}

.featured-by-categories > .title {
    font-size: 20px;
    color: orangered;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 20px;
    border-top: solid 1px rgb(177, 177, 177);
}

.featured-by-categories img {
    width: 100%;
}

.featured-by-categories > .row > .col-lg-4 > .row {
    padding-bottom: 10px;
}
.featured-by-categories > .row > .col-lg-4 > .row > img {
    width: 35%;
    float: left;
    padding-right: 5px;
}

.featured-by-categories > .row > .col-lg-4 > .row > a {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.featured-by-categories > .row > .col-lg-4 > .row {
    padding-top: 10px;
    margin: 0;
    margin-bottom: 10px;
    border-bottom: solid 1px rgb(177, 177, 177);
}

.featured-by-categories > .row > .col-lg-4 > .row:last-child {
    border:none;
}
/* FEATURED BY CATEGORIES */

@media screen and (max-width: 1200px) {
    .news-mini > .author-img {
        width: 30%;
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 991px) {
    .news-mini > .author-img {
        width: 100px;
        padding-bottom: 5px;
        padding-left: 20px;
    } 
    .news-mini > .latest-news-img {
        padding-left: 20px;
    }
}